.top-product-section__div{
    display:grid;

    grid-template-columns:40% 60%;

    margin: 2% 10%;
}

.top-product-info__div{
    display: flex;
    flex-direction: column;
    
    align-items: end;
}

.top-product-img__img{
    width: 100%;
}