.top-product-section__div{
    display:grid;

    grid-template-columns:40% 60%;

    margin: 2% 10%;
}

.top-product-info__div{
    display: flex;
    flex-direction: column;
    
    align-items: end;
}

.top-product-img__img{
    width: 100%;
}

.quantity-handler__span{
    margin: 0 5px;
    
    font-size: 20px;
    font-weight: 800;

    cursor: pointer;
}