.products-cart-container__div{
    width:80%;
    padding: 0 2rem;
}

.product-cart__div{
    display: flex;
    flex-direction: row;

    max-width: 100%;
    height: 100px;

    margin: 1% 0;
    padding: 1rem;
    border: 1px solid #ddd;
}

.product-cart-img__div{
    text-align: center;
    width: 20%;
}

.product-cart-img__img{
    max-width: 100%;
    max-height: 100%;
}